[submodule "427safzal-lab3"]
	path = afzal
	url = git@github.com:devangel77b/427safzal-lab3.git
[submodule "427jcardillo-lab3"]
	path = cardillo
	url = git@github.com:devangel77b/427jcardillo-lab3.git
[submodule "427tchung-lab3"]
	path = chung
	url = git@github.com:devangel77b/427tchung-lab3.git
[submodule "427rdelarosa-lab3"]
	path = delarosa
	url = git@github.com:devangel77b/427rdelarosa-lab3.git
[submodule "427bdemairo-lab3"]
	path = demairo
	url = git@github.com:devangel77b/427bdemairo-lab3.git
[submodule "427ahallur-lab3"]
	path = hallur
	url = git@github.com:devangel77b/427ahallur-lab3.git
[submodule "427jkadan-lab3"]
	path = kadan
	url = git@github.com:devangel77b/427jkadan-lab3.git
[submodule "427kkoping-lab3"]
	path = koping
	url = git@github.com:devangel77b/427kkoping-lab3.git
[submodule "427ksu-lab3"]
	path = su
	url = git@github.com:devangel77b/427ksu-lab3.git
[submodule "427syellapragada-lab3"]
	path = yellapragada
	url = git@github.com:devangel77b/427syellapragada-lab3.git
