[submodule "427safzal-lab3"]
	path = 427safzal-lab3
	url = git@github.com:devangel77b/427safzal-lab3.git
[submodule "427jcardillo-lab3"]
	path = 427jcardillo-lab3
	url = git@github.com:devangel77b/427jcardillo-lab3.git
[submodule "427tchung-lab3"]
	path = 427tchung-lab3
	url = git@github.com:devangel77b/427tchung-lab3.git
[submodule "427rdelarosa-lab3"]
	path = 427rdelarosa-lab3
	url = git@github.com:devangel77b/427rdelarosa-lab3.git
[submodule "427bdemairo-lab3"]
	path = 427bdemairo-lab3
	url = git@github.com:devangel77b/427bdemairo-lab3.git
[submodule "427ahallur-lab3"]
	path = 427ahallur-lab3
	url = git@github.com:devangel77b/427ahallur-lab3.git
[submodule "427jkadan-lab3"]
	path = 427jkadan-lab3
	url = git@github.com:devangel77b/427jkadan-lab3.git
[submodule "427kkoping-lab3"]
	path = 427kkoping-lab3
	url = git@github.com:devangel77b/427kkoping-lab3.git
[submodule "427ksu-lab3"]
	path = 427ksu-lab3
	url = git@github.com:devangel77b/427ksu-lab3.git
[submodule "427syellapragada-lab3"]
	path = 427syellapragada-lab3
	url = git@github.com:devangel77b/427syellapragada-lab3.git
